/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
Body
{
	font-family: Helvetica, Arial;
	font-size: 10pt;
	padding:0px 0px 0px 0px;
	margin:2px 4px 2px 4px;
	border: none;
	color: black;
	background-color:white;
	text-transform:none;
	overflow:auto;
}

IMG
{
	border: none;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	display:inline;
	overflow:auto;
}

TABLE
{
	border: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-color:transparent;
	color:White;
	display: block;
}

TD
{
	vertical-align:top;
	font-family: Helvetica, Arial;
	font-size: 10pt;
	color: black;
	border: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	padding: 3px 3px 3px 3px;
	text-align:left;
	color:black;
}

SELECT, TEXTAREA
{
	color: #000000;
	font: 10pt Helvetica, Arial;
	background: #FFFFFF;
	margin: 3px 3px 3px 3px;
}

INPUT
{
	color: #000000;
	font: 10pt Helvetica, Arial;
	/*margin: 3px 3px 3px 3px;*/
}

/* Generic Links */
A:LINK
{
	font-size: 10pt;
	text-decoration: underline;
	color: black;
	font-family: Helvetica, Arial;
}

A:VISITED
{
	font-size: 10pt;
	text-decoration: underline;
	color: black;
	font-family: Helvetica, Arial;
}

A:HOVER
{
	font-size: 10pt;
	text-decoration: none;
	color: #CCCC66;
	font-family: Helvetica, Arial;
}

A:ACTIVE
{
	font-size: 10pt;
	text-decoration: none;
	color: #CCCC66;
	font-family: Helvetica, Arial;
}

.TableHead
{
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
	color: black;
	font-family: Helvetica, Arial;	
}